USE [master]
GO
/****** Object:  Database [CarShopDB]    Script Date: 06.06.2021 21:31:34 ******/
CREATE DATABASE [CarShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarShopDB', FILENAME = N'D:\sqlServer\SQLServer2019\MSSQL15.MSSQLSERVER01\MSSQL\DATA\CarShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarShopDB_log', FILENAME = N'D:\sqlServer\SQLServer2019\MSSQL15.MSSQLSERVER01\MSSQL\DATA\CarShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarShopDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06.06.2021 21:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 06.06.2021 21:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [money] NULL,
	[Type] [int] NOT NULL,
	[CarId] [int] NOT NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 06.06.2021 21:31:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Horsepower] [int] NULL,
	[ImageLink] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210606170147_init', N'5.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210606170439_init-fix', N'5.0.6')
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([Id], [PhoneNumber], [Description], [Price], [Type], [CarId]) VALUES (1, N'+48 654254458', N'Samochód na wynajem', 500.0000, 1, 1)
INSERT [dbo].[Announcements] ([Id], [PhoneNumber], [Description], [Price], [Type], [CarId]) VALUES (2, N'+48 745254458', N'Samochód wykorzystywany był do dowozu oscypków do resortów znajdujących się przy pętli bieszczadzkiej.', 2500.0000, 0, 3)
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Id], [Brand], [Model], [Color], [Horsepower], [ImageLink]) VALUES (1, N'BMW', N'E46', N'Niebieski', 150, N'https://i.pinimg.com/originals/2f/d3/6e/2fd36e09e74877c35ab8db904de44017.jpg')
INSERT [dbo].[Cars] ([Id], [Brand], [Model], [Color], [Horsepower], [ImageLink]) VALUES (3, N'FSO', N'Polonez', N'Panda', 150, N'https://ocdn.eu/pulscms-transforms/1/LB0ktkqTURBXy9lOGQwYjhkNTRjYmQ1NzM3ZWM5ZGY4MzE4MDgyZTIwYS5qcGVnkZUDAMyHzQLQzQGV')
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
/****** Object:  Index [IX_Announcements_CarId]    Script Date: 06.06.2021 21:31:35 ******/
CREATE NONCLUSTERED INDEX [IX_Announcements_CarId] ON [dbo].[Announcements]
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD  CONSTRAINT [FK_Announcements_Cars_CarId] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Announcements] CHECK CONSTRAINT [FK_Announcements_Cars_CarId]
GO
USE [master]
GO
