@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Zalecamy prywatność przy wykonywaniu <i>delikatniejszych</i> zleceń.</p>
<p>Nie ponosimy odpowiedzialności za szkody wyrządzone na skutek działania strony</p>